.films-list-container {
    text-align: center;
    margin: 8px;

}
body {
    background-color: #111;
    margin: 0px;
}
#attribution {
    color: #999;
    font-family: HelveticaNeue, Verdana, Arial, sans-serif;
    text-align: center;
}
#attribution > a {
    color: #bbb;
}

div.menu-group {
    display: inline-block;
    padding-left: 20px;
}
select.menu, x-filter {
    padding: 8px 30px 8px 10px;
    margin: 7px 7px 7px 1px;
    border-radius: 10px;
    /* Rectangle 1: */
    background: #610404;
    border: 1px solid #7F1717;

    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;

    color: white;
    min-width: 190px;
    -webkit-appearance: none;
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' fill='white'/></svg>") right no-repeat;
    background-color: #640F0F;
    background-position: right 10px top 9px;
    background-size: 18px 18px;
}

select#filter {
    background: none;
    direction: rtl;
    padding-right: 10px;
    min-width: 30px;
}

@media only screen and (max-device-width: 480px) {
    div.menu-group {
        padding-left: 10px;
    }
    select.menu {
        font-size: 24px;
        line-height: 24px;
        padding-right: 0;
        margin-left: 2px;
        min-width: 120px;
    }
}

body {
    margin-top: 0px;
}

header {
    width: 100%;
    /*height: 52px;*/
    background-color: #690B0B;
    text-align: center;
}


/*-----  FILM CARD CSS ------*/
.film-container {
    width: 296px;
    height: 434px;
    position: relative;
}

.title {
    font-family: HelveticaNeue-Bold;
    font-size: 36px;
    color: #E5E5E5;
    line-height: 44px;
    text-align: center;
}

.film,
.film-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.film {
    background: rgba(0,0,0,0.5);
    z-index: -9;
}

.film-background {
    z-index: -10;
    -webkit-filter: blur(7px)
}

div.label {
    color: white;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 30px;
    margin-top: 12px;
}



/* Film card styling */


a { color: white; }

.film-container:hover {
    -webkit-transform: scale(1.05,1.07);
}

.film-container {
    width: 296px;
    height: 434px;
    position: relative;
    border: solid 4px #690B0B;
    overflow: hidden;
    margin: 5px;
    display: inline-block;
    transition: all ease 0.2s;
}

.title {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #E5E5E5;
    line-height: 44px;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 20px;
}

.film,
.film-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.film {
    background: rgba(0,0,0,0.5);
    /*z-index: -9;*/
}

.threedee.film {
    background: url('http://localhost:8000/3d.png') no-repeat 100% 0,  rgba(0,0,0,0.5);
    right: 0px;
}

.film-background {
    z-index: -10;
    /* blur caused performance issues - found a source for higher-res images instead
    -webkit-filter: blur(3px);
    -webkit-transform: translate3d(0, 0, 0);
    */
    margin: 0 -1px 0 0;
}

.ratings {
    margin-top: 30px;
    text-align: center;
}
.rating {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 32px;
    /* imdb rating: */
    margin: 10px;
    display: inline-block;
}
.rt {
    background-image: url('http://localhost:8000/rt-icon.svg');
    background-repeat: no-repeat;
    padding-left: 37px;
}
.rtAudience {
    background-image: url('http://localhost:8000/rt-audience-icon.png');
    background-repeat: no-repeat;
    padding-left: 37px;
}
.imdb {
    background-image: url('http://localhost:8000/imdb-icon.png');
    background-repeat: no-repeat;
    padding-left: 46px;
}

.times {
    margin: 30px 20px 0 20px;
    text-align: left;
}
.time {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #E5E5E5;
    line-height: 25px;
    padding: 4px;
    border-radius: 10px;
    background: #2A353F;
    border: 2px solid #00ADFF;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;
}

